<%= content_for :head do %>
  <%= stylesheet_link_tag 'orders', media: 'all', 'data-turbolinks-track' => true  %>
<% end %>

<div class='container'>

  <header class='page-title row'>
    <h1>Buy a SamShirt</h1>
  </header>

  <ul class='product-list row'>
  <% @products.each do |product| %>
    <li class='product'>
      <h3  class='product-title'><%= product.title %></h3>
      <div class='product-image'><%= image_tag product.image_url %></div>
      <div class='product-description'><%= product.description %></div>
      <h3  class='product-price'><%= format_price product.price %></h3>
      <%= link_to 'Buy Now',
                  new_order_path(product: product.id),
                  class: 'btn btn-primary btn-lg' %>
    </li>
  <% end %>
  </ul>

<div>
