<!DOCTYPE html>
<html>
  <head>
    <title>Samshirts</title>
    <%= yield :head %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class='alerts'>
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
    </div>

    <%= yield %>

  </body>
</html>
